# Folders
settings/
graphs/
logs/
.vscode/

# Environment and temp files
.env
*.env.*
*.test.*
*.temp.*
*.bak

# Macro specific files
graph_*.png
hi.png
hi.txt
GumGumMorph.ahk

# other
directory_tree.txt